.venv/
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

build/
dist/
*.egg-info/
.eggs/
.analysis-output/

pip-log.txt
pip-delete-this-directory.txt

.DS_Store
Thumbs.db
Desktop.ini

.vscode/*.log
.vscode/.ropeproject/
